* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.015em;
}

.container {
  width: 100%;
  max-width: 736px;
  padding: 48px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 48px;
}

h3 {
  margin-bottom: 8px;
}

p {
  margin-bottom: 32px;
}

h2 {
  margin-bottom: 24px;
}
