@font-face {
  font-family: "nanumsquareround";
  font-style: normal;
  font-weight: 300;
  src: url("./assets/font/NanumSquareRoundL.eot");
  src: url("./assets/font/NanumSquareRoundL.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/font/NanumSquareRoundL.woff2") format("woff2"),
    url("./assets/font/NanumSquareRoundL.woff") format("woff"),
    url("./assets/font/NanumSquareRoundL.ttf") format("truetype");
}

@font-face {
  font-family: "nanumsquareround";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/font/NanumSquareRoundR.eot");
  src: url("./assets/font/NanumSquareRoundR.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/font/NanumSquareRoundR.woff2") format("woff2"),
    url("./assets/font/NanumSquareRoundR.woff") format("woff"),
    url("./assets/font/NanumSquareRoundR.ttf") format("truetype");
}

@font-face {
  font-family: "nanumsquareround";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/font/NanumSquareRoundB.eot");
  src: url("./assets/font/NanumSquareRoundB.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/font/NanumSquareRoundB.woff2") format("woff2"),
    url("./assets/font/NanumSquareRoundB.woff") format("woff"),
    url("./assets/font/NanumSquareRoundB.ttf") format("truetype");
}

@font-face {
  font-family: "nanumsquareround";
  font-style: normal;
  font-weight: 800;
  src: url(".assets/font/NanumSquareRoundEB.eot");
  src: url(".assets/font/NanumSquareRoundEB.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/font/NanumSquareRoundEB.woff2") format("woff2"),
    url("./assets/font/NanumSquareRoundEB.woff") format("woff"),
    url("./assets/font/NanumSquareRoundEB.ttf") format("truetype");
}
