.like-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ▼ WHERE YOUR CODE BEGINS */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}

.card {
  padding: 24px;
  width: 840px;
  height: auto;
  display: flex;
}

.card-content {
  flex-grow: 1;
}

.card-image {
  position: relative;
  width: 300px;
  height: 200px;
  border-radius: 6px;
  background-image: url("./assets/img-house.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 24px;
}

.card-image .like-button {
  position: absolute;
  top: 12px;
  left: 12px;
  background-image: url("./assets/icon-favorite.svg");
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
  border-radius: 100px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.plus-badge {
  display: inline-block;
  padding: 1px 8px;
  width: 48px;
  height: 22px;
  margin-right: 6px;
  background: #92174d;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4285714285;
  color: #fff;
  text-transform: uppercase;
}

.property-type span {
  color: #7d858f;
  font-size: 16px;
  line-height: 1.25‬;
}

.property-rate {
  font-size: 16px;
  line-height: 1.25‬;
}

.property-rate strong {
  color: #151b26;
  font-weight: normal;
}

.property-rate span {
  color: #7d858f;
}

.property-rate::before {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("./assets/icon-star2.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.card-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #151b26;
  margin-bottom: 16px;
}

.property-detail {
  color: #7d858f;
  font-size: 14px;
  line-height: 1.1428571428;
}

.property-detail div:first-child {
  margin-bottom: 8px;
}

.property-detail dd span::after {
  content: "·";
  margin: 0 8px;
}

.property-detail dd span:last-child::after {
  content: "";
  margin: 0;
}
